DATABASE_URL=postgresql://neondb_owner:npg_WL6PDimy8IsM@ep-soft-dew-a1408nzr-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=5964a7514b728ccb0e2e252740fa5816887c22b5dac25950bd1d56123ed97de1
STRIPE_SECRET_KEY=sk_test_51NInR2AtAwR4LUory9D2LHeZKryQJNfMfhewhCCIoPHdyMmJoK0ZZIfMdwDrtQlYFwA2EwdGm7nWjLAzlzquszQO00Nr8kDbUW
STRIPE_WEBHOOK_SECRET=whsec_52a512cacf07c8012509c9fc8ef0537f61397726f5882c0608b9aea06bc96f79
CLIENT_URL=http://localhost:3000
